page{
	background-color: #f5f5f5;
}
.logo{
	width: 65rpx;
	height: 65rpx;
	border-radius: 50%;
}
.shouyebisiti{
	font-size: 30rpx;
	font-weight: bold;
	color: #2E7EFF;
}
.tonggaolanview{
	font-size: 30rpx;
	line-height: 70rpx;
	color: #F29704;
}
.fenleiname{
	background-color: #2E7EFF;
	color: white;
	padding:5rpx 15rpx;
	font-size: 25rpx;
	border-radius: 100rpx;
	margin-right: 20rpx;
	margin-bottom: 20rpx;
}
.fenleiname1{
	padding:5rpx 15rpx;
	font-size: 25rpx;
	border-radius: 100rpx;  
	border:1px solid #c0c0c0;
	margin-right: 20rpx;
	margin-bottom: 20rpx;
}
.zhanweiyuding{
	width: 300rpx;
	height: 80rpx;
	text-align: center;
	line-height: 80rpx;
	font-size: 30rpx;
	color: white;
	background-color: #F29704;
	border-radius: 10rpx;
}
.zhanweiyuding1{
	width: 300rpx;
	height: 80rpx;
	text-align: center;
	line-height: 80rpx;
	font-size: 30rpx;
	color: white;
	border-radius: 10rpx;
	background-color:     #029E9D;
}
.topsou{
	width: 632rpx;
	height: 64rpx;
	background: #ffffff;
	border-radius: 100rpx;
	opacity: 1;
}
.baneer{
	width: 702rpx;
	height: 320rpx;
	border-radius: 16rpx 16rpx 16rpx 16rpx;
	opacity: 1;
}
.zhanweiliititu{
	height: 50rpx;
	font-size: 36rpx;
	font-family: PingFang SC-Medium, PingFang SC;
	font-weight: bold;
	color: #333333;
	line-height: 50rpx;
	
}
.zhanweilitiimg{
	width: 702rpx;
	height: 320rpx;
	border-radius: 16rpx 16rpx 16rpx 16rpx;
	opacity: 1;
	background-color: #f5f5f5;
}
.zhiboimg{
	width: 222rpx;
	height: 200rpx;
	border-radius: 16rpx;
	opacity: 1;
	background-color: #f5f5f5;
	margin-right: 15rpx;
}
.zhiboview{
	width: 342rpx;
	height: 270rpx;
	background: #FFFFFF;
	border-radius: 16rpx;
	opacity: 1;
}
.imagsee{
	width: 342rpx;
	height: 170rpx;
	border-radius: 16rpx 16rpx 0rpx 0rpx;
	opacity: 1;
	background-color: #a39e9e;
}
.ziboname{
	width: 314rpx;
	height: 72rpx;
	font-size: 26rpx;
	font-family: PingFang SC-Regular, PingFang SC;
	font-weight: 400;  
	color: #333333;
	line-height: 36rpx;
	margin:14rpx 14rpx;
	text-align: center;
}
.qiyeimg{
	width: 210rpx;
	height: 192rpx;
	border-radius: 16rpx;
	opacity: 1;
	background-color: #a39e9e;
	margin-right: 25rpx;
}
.qiyename{
	width: 423rpx;
	height: 44rpx;
	font-size: 32rpx;
	font-family: PingFang SC-Medium, PingFang SC;
	font-weight: bold;
	color: #333333;
	line-height: 44rpx;
}
.hzanwiehao{
	height: 40rpx;
	font-size: 34rpx;
	font-family: DIN Alternate-Bold, DIN Alternate;
	font-weight: bold;
	color: #858B9C;
	line-height: 44rpx;
}
.liulancishu{
	height: 34rpx;
	font-size: 24rpx;
	font-family: PingFang SC-Regular, PingFang SC;
	font-weight: 400;
	color: #858B9C;
	line-height: 44rpx;
}
.chanpintag{
	background: rgba(0, 0, 0, 0.0392156862745098);
	border-radius: 4rpx 4rpx 4rpx 4rpx;
	opacity: 1;
	line-height: 40rpx;
	padding:0rpx 15rpx;
	margin-right: 15rpx;
}
.taggtxt{
	font-size: 20rpx;
	font-family: PingFang SC-Regular, PingFang SC;
	font-weight: 400;
	color: #858B9C;
}
.dianzns{
	height: 30rpx;
	font-size: 26rpx;
	font-family: PingFang SC-Regular, PingFang SC;
	font-weight: 400;
	color: #FD9326;
	line-height: 30rpx;
}
.shoucang{
	height: 36rpx;
	font-size: 26rpx;
	font-family: PingFang SC-Regular, PingFang SC;
	font-weight: 400;
	color: #EB5E5E;
	line-height: 44rpx;
}
.shoucangno{
	height: 30rpx;
	font-size: 26rpx;
	font-family: PingFang SC-Regular, PingFang SC;
	font-weight: 400;
	color: #858B9C;
	line-height: 30rpx;
}

.dbuview{
	width: 750rpx;
	height: 100rpx;
	/* background: linear-gradient(180deg, rgba(46, 126, 255,0.14) 0%, #2E7EFF 100%); */
	border-radius: 0px 0px 0px 0px;
}

/* 展会宣传片 */
.viedoimg{
	width: 702rpx;
	height: 340rpx;
	background: #000000;
	border-radius: 15rpx;
	top: 0rpx;
	left: 0rpx;
}
.shijnatxt{
	position: absolute;right: 10rpx;bottom: 20rpx;color: white;
}
.videozhezhao{
	top: 0rpx;z-index: 1000;background-color: rgba(0,0,0,0.5);border-radius: 15rpx;
}

/* 新闻列表 */
.jiudianuns{
	width: 150rpx;
	height: 150rpx;
	background-color: #f5f5f5;
	border-radius: 15rpx;
}

.imagesactivew{
	width: 300rpx;
	height: 200rpx;
	margin-right: 20rpx;
	background-color: #f5f5f5;
}