page{
	background-color: #F5F5F7;
}
.clickmam{
	width: 160rpx;
	height: 64rpx;
	background: linear-gradient(180deg, #2E7EFC 0%, #6CA5FF 100%);
	border-radius: 12rpx;
	opacity: 1;
	font-size: 25rpx;
	text-align: center;
	line-height: 64rpx;
	color: white;
}
.gongsimings{
	width: 402rpx;
	height: 42rpx;
	font-size: 30rpx;
	font-family: PingFang SC-Medium, PingFang SC;
	font-weight: 500;
	color: #333333;
	line-height: 42rpx;
}
.seluci{
	width: 30rpx;
	height: 30rpx;
	opacity: 1;
}
.gongsimings1{
	width: 402rpx;
	font-family: PingFang SC-Medium, PingFang SC;
	font-weight: 500;
	color: #333333;
	line-height: 42rpx;
}
.dibuview{
	width: 750rpx;
	height: 120rpx;
	background: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
	opacity: 1;
	position: fixed;
	bottom: 0rpx;
}
.quxiaoucs{
	width: 316rpx;
	height: 80rpx;
	background: rgba(46, 126, 255, 0.058823529411764705);
	border-radius: 12rpx 12rpx 12rpx 12rpx;
	opacity: 1;
	font-weight: bold;
	border: 2rpx solid #2E7EFF;
	text-align: center;
	line-height: 80rpx;
	color: #2E7EFF;
	font-size: 30rpx;
}
.quxiaoucs1{
	width: 316rpx;
	height: 80rpx;
	border-radius: 12rpx 12rpx 12rpx 12rpx;
	opacity: 1;
	font-size: 30rpx;
	font-weight: bold;
	border: 2rpx solid #2E7EFF;
	text-align: center;
	color: white;
	line-height: 80rpx;
	background: linear-gradient(180deg, #2E7EFC 0%, #6CA5FF 100%);
}